########################################
############## GENERAL #################
########################################
# IMPORTANT: use the same project name as the subsequent compose files
name: onecx-local-env

include:
  - ./versions/v2/docker-compose.yaml
