####################################################
# Integrate a local running Microfrontend into OneCX
####################################################
# Microfrontend: "{{MFE_NAME}}""
http:
  routers:
    local_{{MFE_NAME}}:
      # path prefix as used for MFE registration in product store
      rule: "Host(`local-proxy`) && PathPrefix(`{{MFE_PATH}}`)"
      service: local_{{MFE_NAME}}
      # higher prio than calculated based on rule length (traefik standard)
      priority: 323
      middlewares:
        - strip_{{MFE_NAME}}

  # Remove the used mfe path so that it maps directly to localhost:port
  middlewares:
    strip_{{MFE_NAME}}:
      stripPrefix:
        prefixes:
          - "{{MFE_STRIPPATH}}"

  services:
    local_{{MFE_NAME}}:
      loadBalancer:
        servers:
        - url: "http://host.docker.internal:{{MFE_PORT}}/"   # Angular project started outside Docker with this port
